@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
  --brightOrange: hsl(31, 77%, 52%);
  --darkCyan: hsl(184, 100%, 22%);
  --veryDarkCyan: hsl(179, 100%, 13%);
  --f-bolder:'Lexend Deca', sans-serif;
  --f-primary:'Big Shoulders Display', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  width: min(90%,68rem);
  grid-template-columns: repeat(3,1fr);
  border-radius: 0.5rem;
  overflow: hidden;
}

article:nth-child(1) {
  background-color: var(--brightOrange);
}
article:nth-child(2) {
  background-color: var(--darkCyan);
}
article:nth-child(3) {
  background-color: var(--veryDarkCyan);
}

article {
  padding: 3.5rem;
  height: 38rem;
  display: flex;
  flex-direction: column;
}

img {
  width: 4.5rem;
  height: 3rem;
}

article h1 {
  color: white;
  font-size: 3rem;
  font-family: var(--f-primary);
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}
article p {
  color: white;
  font-family: var(--f-bolder);
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.6;
  line-height: 1.7;
  max-width: 90%;
}
.more-button {
  height: 3.5rem;
  width: 11rem;
  border: none;
  font-size: 1.1rem;
  font-family: var(--f-bolder);
  border-radius: 2rem;
  margin-top: auto;
}
article:nth-child(1) .more-button {
  color: var(--brightOrange);
}
article:nth-child(2) .more-button {
  color: var(--darkCyan);
}
article:nth-child(3) .more-button {
  color: var(--veryDarkCyan);
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .App {
    padding: 6rem 0;
  }
  article {
    height: 34rem;
  }
}